<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <%- include('./partials/head') %>
    

</head>
<body>
    <div class="layout">
        
        <!-- <main class="layout__main"> -->
            

            <header class="main__header">
                <%-include('./partials/navigation')%>
            </header>

            <main>
               
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/cumbres.jpg"  class="img-fluid" alt="Promoción 1">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">CUMBRES </strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 21.00</strong></p>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/vino.png" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">VINO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 19.00</strong></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/bunycoct.jpg"  class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">BUNNY COCKTAIL</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 28.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/agua.jpg"    class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">AGUA CHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 10.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/cerveza.jpg"   class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">CERVEZA ARTESANAL</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 21.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/elchugo.jpg"    class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">EL CHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 15.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/frozen.jpg"  class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">FROZEN</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 16.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/incakola.jpg"  class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">INCA CHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 3.00</strong></p>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/maracuya.png"  class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">MARACUCHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 23.00</strong></p>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/mojito.png"  class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">MOJITO </strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 18.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/pina-colada.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">PIÑA COLADA</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 14.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/bebidas/pisco.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;"> PISCO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 23.00</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- Agrega más tarjetas aquí si lo deseas -->
                    </div>
                </div>
                
                
                
            </main>
            <%- include('./partials/bot') %>
            <footer >
                <%-include('./partials/footer')%> 
            </footer>
        <!-- </main> -->
    </div>
<!-- 
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>
