<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <%- include('./partials/head') %>
    

</head>
<body>
    <div class="layout">
        
        <!-- <main class="layout__main"> -->
            

            <header class="main__header">
                <%-include('./partials/navigation')%>
            </header>

            <main>
               
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/costillas_cerdo_horno.jpg"  class="img-fluid" alt="Promoción 1">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">COSTILLAS AL HORNO </strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/lomo.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">LOMO CHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/polloalaparrilla.jpg"  class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">POLLO A LA PARRILLA</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/pollo_broaster.jpeg"  class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">BROASTER CHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/royal.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">ROYAL CHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/popcorn_chicken.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">POPCORN CHICKEN</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/popcorn.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">POPCORN CHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/alitas.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">ALITAS CHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/anticuchomixto.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">EL CHUGO MIX</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/chuletaparrilla.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">CHULETA CHUGO</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/mostrigurguer.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;">MOSTRI BURGUER</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="promotion-card">
                                <img src="/assets/img/platos/parrillapara2.jpg" class="img-fluid" alt="Promoción 2">
                                <div class="promotion-overlay">
                                    <p>¡Disfruta una bebida gratis con tu pedido! Si decides pedir uno de nuestros platos principales, disfrutarás de una bebida completamente gratis para acompañarlo. ¡Aprovecha esta oferta especial y haz tu pedido hoy mismo!</p>
                                </div>
                                <div class="promotion-price">
                                    <p><strong  style="color: black;"> PARA SOLITARIOS</strong></p>
                                    <hr>
                                    <p><strong>Precio: S/ 20.00</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- Agrega más tarjetas aquí si lo deseas -->
                    </div>
                </div>
                
                
                
            </main>
            <%- include('./partials/bot') %>
            <footer >
                <%-include('./partials/footer')%> 
            </footer>
        <!-- </main> -->
    </div>
<!-- 
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>
